$first-color: #fff;
$h1-font-size : 3.125rem;
$h2-font-size : 1.625rem;
$h3-font-size : 1rem;
$Pra-font-size : 0.8rem;
$margin-top:20px;
$paddingTopBottom:70px 0;
$paddingSmall: 50px 0;
$border-bottom:8px solid #222;